<div class="form-group row">
    <label ng-attrs-for="id" class="col-md-4 control-label">{{label}}&nbsp;<i ng-if="required" class="fa fa-asterisk text-danger" style="font-size:8px;"></i></label>
    <div class="col-md-8">
        <select class="form-control input-sm mdc-bg-grey-800 mdc-text-grey-100" ng-attr-id="{{id}}" ng-attr-name="{{id}}" ng-model="ngModel" ng-required="required">
            <option value=""></option>
            <option ng-repeat="item in items" value="{{item}}">
                {{item}}
            </option>
        </select>
    </div>
</div>
