<div class="form-group">
  <div class="input-group input-group-sm robotoregular">
    <span class="input-group-addon" id="{{id}}" name="{{id}}">{{label | uppercase}}</span>
    <input type="text"
    class="form-control input-sm"
    placeholder="{{placeholder}}"
    ng-attr-id="{{id}}"
    name="{{id}}"
    ng-model="ngModel"
    ng-minlength="ngMinlength"
    ng-maxlength="ngMaxlength"
    ng-required="required">
  </div>
  <!-- old code here  -->
  <!-- <div class="form-group row" ng-if="false">
      <label ng-attr-for="{{id}}" class="col-md-4 control-label robotoregular">{{label}}&nbsp;<i ng-if="requiredIcon" class="fa fa-asterisk text-danger" style="font-size:8px;"></i></label>
      <div class="col-md-8">
          <input type="text" class="form-control input-sm mdc-bg-grey-800 mdc-text-grey-100" ng-attr-id="{{id}}" name="{{id}}" ng-model="ngModel"
              ng-minlength="ngMinlength" ng-maxlength="ngMaxlength" ng-required="required">
      </div>
  </div> -->

</div>
