@font-face {
  font-family: RobotoThin;
  src: url(../fonts/RobotoTTF/Roboto-Thin.ttf);
}
@font-face {
  font-family: RobotoRegular;
  src: url(../fonts/RobotoTTF/Roboto-Regular.ttf);
}
@font-face {
  font-family: RobotoCondensedLight;
  src: url(../fonts/RobotoTTF/RobotoCondensed-Light.ttf);
}
@font-face {
  font-family: RobotoCondensedRegular;
  src: url(../fonts/RobotoTTF/RobotoCondensed-Regular.ttf);
}
.robotothin{
  font-family: RobotoThin;
}
.robotoregular{
  font-family: RobotoRegular;
}
.robotocondensedregularlight{
  font-family: RobotoCondensedLight;
}

.robotocondensedregular{
  font-family: RobotoCondensedRegular;
}

html {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 0px;
  margin: 0px;
  /*background-color: #2D2D30;*/
  /*border-bottom: 30px solid #424242;*/
  /*border: 1px solid #3F51B5;*/
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  font-family: robotoregular;
  -webkit-box-shadow:0px 5px 10px #1c1c1c;
  -moz-box-shadow:0px 5px 10px #1c1c1c;
  box-shadow:5px 5px 10px #1c1c1c;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
html{
  overflow: auto;
}
body > .container {
  padding: 60px 15px 0;
}
/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px;
}
.rowFullWidth
{
  margin-left: 5px !important;
  margin-right: 5px !important;
  width:100%;
}
/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255,0,0,0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4);
}
.navbar-nav > li > a, .navbar-brand {
  padding-top:5px !important; padding-bottom:0 !important;
  height: 30px;
}
.navbar {min-height:30px !important;}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}


#content {
  padding: 12px;
  color: #CCCCCC;
}

a {
  color: #68217A;
}

/* small navbar*/
.navbar-xs { min-height:22px; border-radius:0}
.navbar-xs .navbar-brand{ padding: 2px 8px;font-size: 14px;line-height: 14px; }
.navbar-xs .navbar-nav > li > a { border-right:1px solid #ddd; padding-top: 2px; padding-bottom: 2px; line-height: 16px }
/* small navbar ends*/

/* Sortable Tabs CSS */
.container {
  padding-top: 20px;
  padding-bottom: 20px;
}
.tab-pane {
  padding-top: 20px;
}
.nav-tabs > li:hover > a {
  background: transparent;
  border-color: transparent;
}
.nav-tabs > li.hover > a {
  background: #555;
}
.nav-tabs > li.dragging {
  opacity: 0.5;
}
.tabCloseBtn:visited {
  color:inherit;
}
.tabCloseBtn:hover {
  color:red;
}

/* END Sortable Tabs CSS */

/* material tab starts */
.nav-tabs { border-bottom: 2px solid #DDD; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
.nav-tabs > li > a { border: none; color: #666; }
.nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
.nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}
/* end - material tabs*/


/* start fancy bootstrap checkboxes */
.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
}
/* end fancy bootstrap checkbox*/


/*start cards */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);
:root {
  -webkit-transition: all 300ms;
          transition: all 300ms;
}
:root.bg--big {
  background-color: #00BCD4;
}
:root.bg--medium {
  background-color: #E53935;
}
:root.bg--small {
  background-color: #4527A0;
}

.controller-container {
  margin-bottom: 5%;
  text-align: center;
}
.controller {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
  margin: 0 20px;
  font-size: 22px;
  padding: 10px 0;
  color: #FFF;
  position: relative;
  -webkit-transition: all 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
          transition: all 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.controller:after {
  content: "";
  height: 3px;
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  -webkit-transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
          transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: #FFF;
}
.controller.is_current:after {
  width: 100%;
}
.controller:hover,
.controller.is_current {
  -webkit-transform: translate3d(0, -5px, 0);
          transform: translate3d(0, -5px, 0);
  cursor: pointer;
}
.card {
  will-change: transform;
  margin: 8px;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
  background-color: #fafafa;
  height: 35%;
  width: 344px;
  -webkit-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
          transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}
.card:hover {
  cursor: pointer;
}
.card__image {
  position: absolute;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repat;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
  opacity: 0;
  -webkit-transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
          transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.card__image:after {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 500ms;
          transition: all 500ms;
  bottom: 0;
}
.card__title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 24px;
  color: #FFF;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 16px;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
          transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.card__subtitle {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 14px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #000;
  left: 88px;
  right: 0;
  top: 45px;
  position: absolute;
  padding: 0 16px;
  opacity: 0;
  -webkit-transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
          transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.card__text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 14px;
  display: block;
  left: 0;
  right: 0;
  top: 100px;
  padding: 16px;
  margin: 0;
  line-height: 1.6;
  position: absolute;
  color: #000;
  overflow: hidden;
  -webkit-transition: width 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
          transition: width 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: delay 0.1s;
          transition: delay 0.1s;
}
.card__action-bar {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  bottom: 0;
  top: auto;
  left: 0;
  right: 0;
  padding: 0 8px;
  border-top: 1px solid #E0E0E0;
  boz-sizing: border-box;
  height: 52px;
  -webkit-transition: left 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
          transition: left 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.card__button {
  outline: none;
  position: relative;
  display: inline-block;
  line-height: 52px;
  padding: 0 16px;
  color: #ff1744;
}
.card--big {
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
  height: 304px;
  min-height: 304px;
}
.card--big .card__image {
  border-radius: 1px 1px 0 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 1;
  max-height: 176px;
}
.card--big .card__title {
  top: 135px;
}
.card--big .card__text {
  top: 176px;
}
.card--big .card__action-bar {
  left: 0;
}
.card--medium {
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
  height: 208px;
  min-height: 208px;
}
.card--medium .card__image {
  border-radius: 1px 1px 0 0;
  left: 0;
  right: 0;
  top: 0;
  max-height: 0;
  opacity: 0;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.card--medium .card__title {
  color: #ff1744;
  top: 16px;
}
.card--medium .card__text {
  font-size: 16px;
  top: 50px;
}
.card--medium .card__action-bar {
  left: 0;
}
.card--small {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  height: 136px;
  min-height: 136px;
}
.card--small .card__image {
  border-radius: 1px 0 0 1px;
  left: 0;
  top: 0;
  width: 88px;
  opacity: 1;
  max-height: 136px;
}
.card--small .card__image:after {
  opacity: 0;
}
.card--small .card__title {
  color: #000;
  left: 88px;
  top: 8px;
}
.card--small .card__subtitle {
  opacity: 1;
  left: 88px;
}
.card--small .card__text {
  top: 30px;
  opacity: 0;
}
.card--small .card__action-bar {
  left: 88px;
}

/*end cards*/

/*breadcrumb with hr horizontal rule */

hr {
  height: 4px;
  margin-left: 15px;
  margin-bottom:-3px;
}
.hr-warning{
  background-image: -webkit-linear-gradient(left, rgba(210,105,30,.8), rgba(210,105,30,.6), rgba(0,0,0,0));
}
.hr-success{
  background-image: -webkit-linear-gradient(left, rgba(15,157,88,.8), rgba(15, 157, 88,.6), rgba(0,0,0,0));
}
.hr-primary{
  background-image: -webkit-linear-gradient(left, rgba(66,133,244,.8), rgba(66, 133, 244,.6), rgba(0,0,0,0));
}
.hr-danger{
  background-image: -webkit-linear-gradient(left, rgba(244,67,54,.8), rgba(244,67,54,.6), rgba(0,0,0,0));
}

.breadcrumb {
  background: rgba(245, 245, 245, 0);
  border: 0px solid rgba(245, 245, 245, 1);
  border-radius: 25px;
  display: block;
}

.btn-bread{
    margin-top:10px;
    font-size: 12px;

    border-radius: 3px;
}
/*end breadcrumb*/
