@font-face {
  font-family: RobotoThin;
  src: url(../fonts/RobotoTTF/Roboto-Thin.ttf);
}
@font-face {
  font-family: RobotoRegular;
  src: url(../fonts/RobotoTTF/Roboto-Regular.ttf);
}
@font-face {
  font-family: RobotoCondensedLight;
  src: url(../fonts/RobotoTTF/RobotoCondensed-Light.ttf);
}
@font-face {
  font-family: RobotoCondensedRegular;
  src: url(../fonts/RobotoTTF/RobotoCondensed-Regular.ttf);
}
.robotothin{
  font-family: RobotoThin;
}
.robotoregular{
  font-family: RobotoRegular;
}
.robotocondensedregularlight{
  font-family: RobotoCondensedLight;
}

.robotocondensedregular{
  font-family: RobotoCondensedRegular;
}

html {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 0px;
  margin: 0px;
  /*background-color: #2D2D30;*/
  /*border-bottom: 30px solid #424242;*/
  /*border: 1px solid #3F51B5;*/
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  font-family: robotoregular;
  -webkit-box-shadow:0px 5px 10px #1c1c1c;
  -moz-box-shadow:0px 5px 10px #1c1c1c;
  box-shadow:5px 5px 10px #1c1c1c;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
html{
  overflow: auto;
}
body > .container {
  padding: 60px 15px 0;
}
/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px;
}
.rowFullWidth
{
  margin-left: 5px !important;
  margin-right: 5px !important;
  width:100%;
}
/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255,0,0,0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4);
}
.navbar-nav > li > a, .navbar-brand {
  padding-top:5px !important; padding-bottom:0 !important;
  height: 30px;
}
.navbar {min-height:30px !important;}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}


#content {
  padding: 12px;
  color: #CCCCCC;
}

a {
  color: #68217A;
}



/* Card layout */
.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;

}
.card-padding{
  padding-left: 5px;
  padding-top: 5px;
}
.card span.card-title {
  /*color: #fff;*/
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.card .card-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.card .card-content p {
  margin: 0;
  color: inherit;
}
.card .card-content span.card-title {
  line-height: 48px;
}
.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
}
.card .card-action a {
  /*color: #ffab40;*/
  margin-right: 16px;
  transition: color 0.3s ease;
  text-transform: uppercase;
}
.card .card-action a:hover {
  /*color: #ffd8a6;*/
  text-decoration: none;
}
/* End of card layout*/

/* small navbar*/
.navbar-xs { min-height:22px; border-radius:0}
.navbar-xs .navbar-brand{ padding: 2px 8px;font-size: 14px;line-height: 14px; }
.navbar-xs .navbar-nav > li > a { border-right:1px solid #ddd; padding-top: 2px; padding-bottom: 2px; line-height: 16px }
/* small navbar ends*/

/* Sortable Tabs CSS */
.container {
  padding-top: 20px;
  padding-bottom: 20px;
}
.tab-pane {
  padding-top: 20px;
}
.nav-tabs > li:hover > a {
  background: transparent;
  border-color: transparent;
}
.nav-tabs > li.hover > a {
  background: #555;
}
.nav-tabs > li.dragging {
  opacity: 0.5;
}
.tabCloseBtn:visited {
  color:inherit;
}
.tabCloseBtn:hover {
  color:red;
}

/* END Sortable Tabs CSS */

/* material tab starts */
.nav-tabs { border-bottom: 2px solid #DDD; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
.nav-tabs > li > a { border: none; color: #666; }
.nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
.nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}
/* end - material tabs*/


/* start fancy bootstrap checkboxes */
.funkyradio div {
  clear: both;
  /*margin: 0 50px;*/
  overflow: hidden;
}
.funkyradio label {
  /*min-width: 400px;*/
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}
.funkyradio input[type="radio"]:empty, .funkyradio input[type="checkbox"]:empty {
  display: none;
}
.funkyradio input[type="radio"]:empty ~ label, .funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.funkyradio input[type="radio"]:empty ~ label:before, .funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content:'';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content:'\2714';
  text-indent: .9em;
  color: #C2C2C2;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}
.funkyradio input[type="radio"]:checked ~ label:before, .funkyradio input[type="checkbox"]:checked ~ label:before {
  content:'\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}
.funkyradio input[type="radio"]:checked ~ label, .funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}
.funkyradio input[type="radio"]:focus ~ label:before, .funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}
.funkyradio-default input[type="radio"]:checked ~ label:before, .funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}
.funkyradio-primary input[type="radio"]:checked ~ label:before, .funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}
.funkyradio-success input[type="radio"]:checked ~ label:before, .funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}
.funkyradio-danger input[type="radio"]:checked ~ label:before, .funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}
.funkyradio-warning input[type="radio"]:checked ~ label:before, .funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}
.funkyradio-info input[type="radio"]:checked ~ label:before, .funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}
/* end fancy bootstrap checkbox*/

/*start progress bar thin*/
.progress {
  height: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.progress {
  background-image: -webkit-gradient(linear,left 0,left 100%,from(#ebebeb),to(#f5f5f5));
  background-image: -webkit-linear-gradient(top,#ebebeb 0,#f5f5f5 100%);
  background-image: -moz-linear-gradient(top,#ebebeb 0,#f5f5f5 100%);
  background-image: linear-gradient(to bottom,#ebebeb 0,#f5f5f5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb',endColorstr='#fff5f5f5',GradientType=0);
}
.progress {
  height: 5px;
  background-color: #ebeef1;
  background-image: none;
  box-shadow: none;
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
  -webkit-transition: width .6s ease;
  transition: width .6s ease;
}
.progress-bar {
  background-image: -webkit-gradient(linear,left 0,left 100%,from(#428bca),to(#3071a9));
  background-image: -webkit-linear-gradient(top,#428bca 0,#3071a9 100%);
  background-image: -moz-linear-gradient(top,#428bca 0,#3071a9 100%);
  background-image: linear-gradient(to bottom,#428bca 0,#3071a9 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca',endColorstr='#ff3071a9',GradientType=0);
}
.progress-bar {
  box-shadow: none;
  border-radius: 3px;
  background-color: #0090D9;
  background-image: none;
  -webkit-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -moz-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -ms-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -o-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
  transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -webkit-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -moz-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -ms-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -o-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
}
.progress-bar-success {
  background-image: -webkit-gradient(linear,left 0,left 100%,from(#5cb85c),to(#449d44));
  background-image: -webkit-linear-gradient(top,#5cb85c 0,#449d44 100%);
  background-image: -moz-linear-gradient(top,#5cb85c 0,#449d44 100%);
  background-image: linear-gradient(to bottom,#5cb85c 0,#449d44 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c',endColorstr='#ff449d44',GradientType=0);
}
.progress-bar-success {
  background-color: #0AA699;
  background-image: none;
}
.progress-bar-info {
  background-image: -webkit-gradient(linear,left 0,left 100%,from(#5bc0de),to(#31b0d5));
  background-image: -webkit-linear-gradient(top,#5bc0de 0,#31b0d5 100%);
  background-image: -moz-linear-gradient(top,#5bc0de 0,#31b0d5 100%);
  background-image: linear-gradient(to bottom,#5bc0de 0,#31b0d5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de',endColorstr='#ff31b0d5',GradientType=0);
}
.progress-bar-info {
  background-color: #0090D9;
  background-image: none;
}
.progress-bar-warning {
  background-image: -webkit-gradient(linear,left 0,left 100%,from(#f0ad4e),to(#ec971f));
  background-image: -webkit-linear-gradient(top,#f0ad4e 0,#ec971f 100%);
  background-image: -moz-linear-gradient(top,#f0ad4e 0,#ec971f 100%);
  background-image: linear-gradient(to bottom,#f0ad4e 0,#ec971f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e',endColorstr='#ffec971f',GradientType=0);
}
.progress-bar-warning {
  background-color: #FDD01C;
  background-image: none;
}
.progress-bar-danger {
  background-image: -webkit-gradient(linear,left 0,left 100%,from(#d9534f),to(#c9302c));
  background-image: -webkit-linear-gradient(top,#d9534f 0,#c9302c 100%);
  background-image: -moz-linear-gradient(top,#d9534f 0,#c9302c 100%);
  background-image: linear-gradient(to bottom,#d9534f 0,#c9302c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f',endColorstr='#ffc9302c',GradientType=0);
}
.progress-bar-danger {
  background-color: #F35958;
  background-image: none;
}
/*end progress bar thin*/
