<div class="row">
  <div class="col-xs-5">
    <h1 class="col-md-offset-1 mdc-text-grey-400"><i class='fa fa-home fa-lg'></i>&nbsp;Home</h3>
  </div>
  <div class="col-xs-6">
    <h1 class="mdc-text-grey-700  text-right">{{today| date:'short'}}</h1>
  </div>
  <div class="col-xs-1">
  </div>
</div>

<div class="container">
    <div class="row">
          <div class="col-xs-5">
            <new-card
                cardtitle="VIN"
                cardcolor="mdc-bg-purple-600"
                cardcontent="Create new VIN report.">
              <button class="btn btn-link text-purple-400" ng-click="createNewVIN()">NEW</button>
            </new-card>
            <new-card
                cardtitle="ASR"
                cardcolor="mdc-bg-teal-700"
                cardcontent="Create new ASR (Auto Storage Report).">
              <button class="btn btn-link">NEW</button>
            </new-card>
          </div>
          <div class="col-xs-1">

          </div>
          <div class="col-xs-6">
            <div class="row">
              <well-card
                label = "70"
                labelclass = "label-primary"
                wellheader="OPEN DOCUMENTS FROM LOCAL"
                wellcontent="Open issued documents from local database and edit/review them.">
                <button type='button' class='btn btn-sm btn-primary'>OPEN</button>
              </well-card>
              <well-card
                label = "70"
                labelclass = "label-info"
                wellheader="OPEN DOCUMENTS FROM SERVER"
                wellcontent="Open transferred documents from server database and edit/review them.">
                  <button type='button' class='btn btn-sm btn-info'>OPEN</button>
              </well-card>
              <well-card
                iconclass = "fa-wrench mdc-text-orange-500"
                wellheader="USER SETTINGS"
                wellcontent="User settings like Rank, Badge, Theme etc.">
                  <button type='button' class='btn btn-sm btn-warning'>OPEN</button>
              </well-card>
              <well-card
                iconclass = "fa-download mdc-text-green-500"
                wellheader="CHECK UPDATES"
                wellcontent="Check updates manually if we have any updates for the application which is not yet installed.">
                  <button type='button' class='btn btn-sm btn-success'>CHECK</button>
              </well-card>
              <well-card
                iconclass = "fa-cogs mdc-text-red-500"
                wellheader="APPLICATION SETTINGS"
                wellcontent="Application level settings, normally used by support team or developers.">
                  <button type='button' class='btn btn-sm btn-danger'>OPEN</button>
              </well-card>
            </div>
          </div>
    </div>
</div>
