<div class="row">
    <div class="col-xs-5">
        <h1 class="col-md-offset-1 mdc-text-grey-400"><i class='fa fa-home fa-lg'></i>&nbsp;Home</h1>
    </div>
    <div class="col-xs-6">
        <h2 class="mdc-text-grey-500  text-right" my-current-time="format"></h2>
    </div>
    <div class="col-xs-1">
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-lg-4">
            <new-card cardtitle="VIN" cardcolor="mdc-bg-teal-700" cardcontent="Create new VIN (Vin Inspection Report).">
                <button class="btn btn-link" ui-sref="default({type:'VIN',newform:true})">NEW</button>
            </new-card>
            <new-card cardtitle="ASR" cardcolor="mdc-bg-lime-800" cardcontent="Create new ASR (Auto Storage Report).">
                <button class="btn btn-link" ui-sref="default({type:'ASR',newform:true})">NEW</button>
            </new-card>
        </div>

        <div class="col-xs-6 col-lg-4">
            <div class="row">
                <well-card iconclass="fa-folder-open text-primary" wellheader="OPEN DOCUMENTS FROM LOCAL" wellcontent="Open issued documents from local database and edit/review them.">
                    <a ui-sref="openformlocal" class="btn btn-sm btn-primary">OPEN</a>
                </well-card>
                <well-card iconclass="fa-database text-info" wellheader="OPEN DOCUMENTS FROM SERVER" wellcontent="Open transferred documents from server database and edit/review them.">
                    <a ui-sref="openformserver" class="btn btn-sm btn-primary">OPEN</a>
                </well-card>
                <well-card iconclass="fa-wrench text-warning" wellheader="USER SETTINGS" wellcontent="User settings like Rank, Badge, Theme etc.">
                    <a ui-sref="usersettings" class='btn btn-sm btn-warning'>OPEN</a>
                </well-card>
                <well-card iconclass="fa-download text-success" wellheader="CHECK UPDATES" wellcontent="Check updates manually if we have any updates for the application which are not yet installed.">
                    <button type='button' ui-sref="checkupdate" class='btn btn-sm btn-success'>CHECK</button>
                </well-card>
                <well-card iconclass="fa-cogs text-danger" wellheader="APPLICATION SETTINGS" wellcontent="Application level settings, normally used by support team or developers.">
                    <a ui-sref="applicationsettings" class='btn btn-sm btn-danger'>OPEN</a>
                </well-card>
            </div>
        </div>

        <div class="col-lg-4 visible-lg">
            <div class="well well-sm">
                <h4>Keyboard Shortcuts</h4>
                <blockquote>
                    <footer>Press <kbd>?</kbd> to view keyboard shortcuts for current screen.</footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>
