<div class="row">
    <hr class="hr-warning" />
    <div class="col-xs-4">
        <ol class="breadcrumb bread-warning">
            <button ui-sref="main" class="btn btn-warning btn-xs"><i class="fa fa-home"></i>&nbsp;Home</button>
            <h3 class="mdc-text-grey-400">Open Form</h3>
        </ol>
        <i class="fa fa-wrench mdc-text-grey-500" style="padding-top:70%;font-size:200px;margin-left:-100px;"></i>
    </div>
    <div class="col-xs-8">
        <br/>
        <div class="well well-sm pointer" ng-repeat="r in recent | orderBy:'title'" ng-click="openForm(r.title)">
            {{r.title | date:'short'}} - {{r.type}}
        </div>
    </div>
</div>
