<br/><br/>
<div class="col-xs-6">


  <div class="checkbox checkbox-info">
    <input id="checkbox4" class="styled" type="checkbox">
    <label for="checkbox4">
      Info
    </label>
  </div>
  <div class="checkbox checkbox-warning">
    <input id="checkbox5" type="checkbox" class="styled" checked>
    <label for="checkbox5">
      Warning
    </label>
  </div>
  <div class="checkbox checkbox-danger">
    <input id="checkbox6" type="checkbox" class="styled" checked>
    <label for="checkbox6">
      Check me out
    </label>
  </div>

</div>
