<!DOCTYPE html>
<html ng-app="demoapp">
<head lang="en" ng-controller="cssBundleCtrl">
    <meta charset="UTF-8">
    <title>eForms using nw.js</title>
    <style>
        [ng\: cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x- ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body ngCloak>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top"
         style="-webkit-user-select: none;-webkit-app-region: drag;"
         ng-controller="indexCtrl">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref="main">{{welcome}}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul style="-webkit-user-select: none;-webkit-app-region: no-drag;"
                    class="title-bar-btns nav navbar-nav navbar-right" ng-controller="windowCtrl">
                    <li><span class="mdc-text-lime-500 fa fa-wifi fa-2x" style="padding-right: 15px;" ng-if="online" title="Connected to network"></span>&nbsp;</li>
                    <li><span class="mdc-text-green-500 fa fa-minus-circle fa-2x" data-l10n-id="hint_minimize_window" title="minimize" style="cursor: hand;padding-left:5px;" ng-click="minWindow()"></span>&nbsp;</li>
                    <li><span class="mdc-text-orange-500 fa fa-plus-circle fa-2x" data-l10n-id="hint_expand_window" style="cursor: hand;padding-left:5px;" title="restore" ng-click="maxWindow()"></span>&nbsp;</li>
                    <li><span class="mdc-text-red-500 fa fa-times-circle fa-2x" data-l10n-id="hint_close_window" style="cursor: hand;padding-left:5px;" title="close" ng-click="closeWindow()"></span>&nbsp;</li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Wrap all page content here -->
    <div class="container-fluid" style="margin-top:60px;">
        <div id="wrap">
            <div class="center-container">
                <div ui-view class="velocity-enter-transition-slideRightIn velocity-leave-transition-slideDownOut"></div>
            </div>
        </div>
    </div>


    <!-- <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script> -->
    <!-- <script type="text/javascript" src="lib/angular-ui-bootstrap/ui-bootstrap-tpls.min.js"></script> -->
    <!-- <script type="text/javascript" src="lib/angular/angular-animate.js"></script> -->
    <!-- <script type="text/javascript" src="lib/angular/angular-ui-router.min.js"></script> -->
    <!-- <script type="text/javascript" src="lib/angular/angular-mocks.js"></script> -->
    <!-- <script type="text/javascript" src="lib/angular-ui-switch/switch.js"></script> -->
    <!-- <script type="text/javascript" src="lib/waves/waves.js"></script> -->
    <!-- <script src="../bower_components/velocity/velocity.min.js"></script> -->
    <!-- <script src="../bower_components/velocity/velocity.ui.min.js"></script> -->
    <!-- <script src="../bower_components/angular-velocity/angular-velocity.min.js"></script> -->
    <!-- <script src="../bower_components/angular-auto-validate/dist/jcs-auto-validate.min.js"></script> -->
    <!-- <script src="../bower_components/angular-css/angular-css.min.js"></script> -->
    <!-- <script src="lib/angular-hotkeys/build/hotkeys.min.js"></script> -->

    <!-- application specific scripts  -->
    <!-- <script type="text/javascript" src="app/js/app.js"></script>
    <script type="text/javascript" src="app/js/directives.js"></script>
    <script type="text/javascript" src="app/js/routing.js"></script>
    <script type="text/javascript" src="app/js/controllers.js"></script>
    <script type="text/javascript" src="app/js/window.js"></script>
    <script type="text/javascript" src="forms/vin/js/controller.js"></script>
    <script type="text/javascript" src="forms/vin/js/factories.js"></script>
    <script type="text/javascript" src="forms/vin/js/directives.js"></script>
    <script type="text/javascript" src="forms/asr/js/controller.js"></script> -->
    <script type="text/javascript" src="../build/js/plugins.js"></script>
    <script type="text/javascript" src="../build/js/main.js"></script>
    <script type="text/javascript" src="../build/js/coreTemplates.js"></script>
    <!-- Modules Dependancy -->
    <script type="text/javascript" src="../build/js/vinForm.js"></script>
    <script type="text/javascript" src="../build/js/vinTemplates.js"></script>
    <script type="text/javascript" src="../build/js/asrForm.js"></script>
</body>
</html>
